<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/formsubmitted" method="post">
<input type="text" placeholder="fullName" name="fullName">
<input type="text" placeholder="email" name="email">
<input type="password" placeholder="password" name="password">
<input type="text" placeholder="role" name="role">
<input type="text" placeholder="phone" name="phone">
<input type="text" placeholder="address" name="address">
<br>
<input type="submit" value="submit">
    </form>
</body>
</html>